filebeat.inputs:
- type: log
  enabled: true
  paths:
  - /var/log/*.log
  document-type: syslog

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 3

{% if filebeat_output_logstash -%}
output.logstash:
  hosts: ["{{ filebeat_logstashes | join('","') }}"]
  bulk_max_size: 1024
{%- endif %}
